body
{
	background-image: url("background4.jpeg"); 
	background-size: cover;
	margin: 0px;
}
*
{
	color: white;
}
.header
{
	height: 120px;
}
.page 
{
	width: 1200px;
	margin: auto;
}
.content
{
	padding: 20px;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	border-radius: 10px 10px 10px 0px; 
	margin-bottom: 5px;
}
.header
{

}